$color-primary: #f06c64;
$color-additional: #e94348;
$color-light: #ffffff;
$color-heading: #666d89;
$color-text: #767e9e;
$color-tag: #dedede;
$color-text-additional: #f0d8d9;
$color-button: #886a30;
$color-bg-light: #f2f2f2;
$color-bg-dark: #2d303a;
$color-bg-additional: #648bf0;
$color-border-dark: #323746;
$color-border-primary: #ea676b;
$color-border-light: #ffffff;
$color-border-dark: #323746;
$color-tag-selected: #dedede;
$color-bg-input: #d6564f;
$color-input: #f48c8f;

$content-width: 1020px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
